<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center">Acme Bank</a>
    </div>
</nav>

<div class="container">
    <blockquote>
        <h5>Account List</h5>
    </blockquote>

    <table class="striped centered">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let account of accounts">
                <td> {{ account.account_number }} </td>
                <td> {{account.account_type}} </td>
                <td> {{account.balance | currency:'ZAR '}} </td>
                <td> <button class="waves-effect waves-light btn" (click)="withdraw()">Withdraw</button> </td>
            </tr>
        </tbody>
    </table>
    <blockquote> Balance: {{ accountBalance | currency:'ZAR ' }} </blockquote>
</div>