<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center">Acme Bank</a>
    </div>
</nav>

<div *ngIf="accounts.length == 0">
    <button class="waves-effect waves-light btn center" (click)='getAccounts()'>
        <i class="material-icons left">replay</i>
        Retry
    </button>
</div>

<div class="container" *ngIf="accounts.length > 0">
    <blockquote>
        <h5>Account List</h5>
    </blockquote>

    <table class="striped centered">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let account of accounts">
                <td> {{ account.account_number }} </td>
                <td> {{account.account_type}} </td>
                <td> {{account.balance | currency:'ZAR '}} </td>
                <td>
                    <button [ngClass]="[getAccountStatus(account)]" (click)="withdraw()">
                        Withdraw
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <blockquote>
        <h5> Balance: {{ accountBalance | currency:'ZAR ' }} </h5>
    </blockquote>
</div>